
    {% extends 'base.html' %}
    {% block content %} 
    <div class="containe pt-5">
        <div class="col-lg-5 shadow mx-auto p-0">
            <div class="alert alert-success"> Create Acount</div>
            <div class="p-4">
                <form method="post" action="/signup">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <hr>
                    <input class="btn btn-success" type="submit" value="Create Acount">
    
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
       
    
    
   